.mainNav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 175px;
}
.mainNav a {
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px dashed #999;
    padding: 7px 5px;
    display: block;
    background-color: #E7E7E7;
    background-image: url(images/nav.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
}
.mainNav li:last-of-type a {
    border-bottom: 1px dashed #999;
}
.mainNav a:hover {
    font-weight: bold;
    background-color: #B2F511;
    background-position: 3px 50%;
}
.home .homeLink,
.feature .featureLink,
.expert .expertLink,
.quiz .quizLink,
.project .projectLink,
.horoscope .horoscopeLink {
    background-color: #FFFFFF;
    background-position: 97% 100%;
    padding-right: 15px;
    padding-left: 30px;
    font-weight: bold;
}
.mainNav li {
    float: left;
    width: 14em;
}
