a {
    color: #207EBF;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #F60;
}
a:visited {
    color: #6E97BF;
}
a:hover {
    color: #FFF;
    background-color: #6E97BF;
    border-bottom-color: #6E97BF;
}
a[href^="mailto:"] {
    color: #666666;
    border: none;
    background: url(images/email.gif) no-repeat left center;
    padding-left: 20px;
    margin-left: 10px;
}
a[href*="://"]:not([href*="mysite.com"]) {
    background: url(images/globe.png) no-repeat right top;
    padding-right: 22px;
}
.resources a {
    border-bottom: none;
    padding-right: 22px;
}
.resources a[href$=".pdf"] {
    background: url(images/acrobat.png) no-repeat right top;
}
.resources a[href$=".zip"] {
    background: url(images/zip.png) no-repeat right top;
}
.resources a[href$=".doc"] {
    background: url(images/word.png) no-repeat right top;
}
.resources a:hover {
    color: #000;
    background-color: rgba(255,255,255,8);
}